.grid-row {
  display: grid;
  grid-template-columns: 40% 25% 20% auto;
}

.cell {
  padding: 10px 20px;
  text-align: start;
}

.button {
  display: inline-block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
}

.button:hover {
  background-color: rgba(128, 128, 128, 0.522);
  border-radius: 1000px;
}

.my-a {
  margin-inline: auto;
}

.pointer {
  cursor: pointer;
}
